.home {
  display: flex;
}

.home__table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 1 40%;
}

.home__map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 60%;
  height: 500px;
}

.home__table-row:hover {
  cursor: pointer;
}

.home__table-row_selected {
  background-color: lightgray;
  transition: all 0.5;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
  }
}